{% extends 'base.html' %}

{% block content %}
    {% if api %}
        {% if api == "Error" %}
            There was an error.
        {% else %}
            <div class="container mt-5">
                <div class="jumbotron">
                    <h1 class="display-4">{{ api.0.Category.Name }}</h1>
                    <p class="lead">{{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
                    <hr class="my-4">
                    
                    {% if api.0.Category.Name == "Moderate" %}
                        <p>Air quality is moderate.</p>
                    {% elif api.0.Category.Name == "Good" %}
                        <p>Air quality is good.</p>
                    {% elif api.0.Category.Name == "USG" %}
                        <p>Air quality is unhealthy for sensitive groups.</p>
                    {% elif api.0.Category.Name == "Unhealthy" %}
                        <p>Air quality is unhealthy.</p>
                    {% endif %}

                   
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
